{% extends 'registration/base_registration.html' %}
{% block content %}
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <!---->
                                        {% if form.errors %}
                                        <div class="card bg-warning text-white mb-4">
                                            <div class="card-body"><i class="fa fa-warning"></i> Nombre de Usuario y/o Contraseña no validos.</div>
                                        </div>
                                        {% endif %}

                                        <form method="POST" >
                                        {% csrf_token %}


                                        <!---->
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="id_username" type="text" placeholder="username" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required />
                                                <label for="id_username">Username</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="password" placeholder="Password" name="password" autocomplete="current-password" required id="id_password"/>
                                                <label for="id_password">Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <input type="submit" class='btn btn-primary' value="Entrar" />
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/accounts/signup">Necesita una cuenta? Registrate!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <br>
        </div>

    </body>
    {% endblock %}

