{% extends '../cmorales/nav-footer.html' %}

{% block content %}

    <h1>Lista de Comentarios</h1>c
    <hr>
    <ul>
        <li><a href="{% url 'crearcomentario' %}">Crear Comentario</a></li>
    </ul>
<hr>
    <ul>
        
        {% for comentario in comentarios %}
            <li>
                <a href="{% url 'detallecomentario' comentario.id %}">
                    {{comentario}}
                </a>
            </li>
            <div>
                <button>
                    <a href="{% url 'eliminarcomentario' comentario.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'editarcomentario' comentario.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>

    {% endblock %}