{% extends '../cmorales/nav-footer.html' %}

{% block content %}

    <h1>Lista de categorias</h1>
    <hr>
    <ul>
        <li><a href="{% url 'crearcategoria' %}">Crear categorias</a></li>
    </ul>
<hr>
    <ul>
        
        {% for categoria in categorias %}
            <li>
                <a href="{% url 'detallecategoria' categoria.id %}">
                    {{categoria}}
                </a>
            </li>
            <div>
                <button>
                    <a href="{% url 'eliminarcategoria' categoria.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'editarcategoria' categoria.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>

    {% endblock %}