{% extends 'cmorales/nav-footer.html' %}

{% load static %}

{% block content %}



<div class="container">
    <h3>Publicaciones</h3>
    {% for post in posts %}


    <div class="card">
        <div class="card-header">
            <a href="{% url 'profile' %}">@{{ post.user.username }}</a>
        </div>
        <div class="card-body">
            <span class="card-text">{{ post.content }}</span>
            <span class="badge badge-info ml-3">{{ post.categories   }}</span>

        </div>



    </div>

    {% endfor %}

</div>

{% endblock %}