{% extends 'nav-footer.html' %}

{% load static %}

{% block content %}
        
<form>
    <h4>
        Ingresa tu comentario
    </h4>
    <div class="form-row">
        <div class="col-md-3">
        
        </div>
        
        <div class="form-group col-md-6">
            <label  class="col-12">tu usuario es ...</label>
        
            <label for="inputEmail4">Título</label>
            <input type="email" class="form-control" id="inputEmail4">

            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <label for="exampleFormControlTextarea1">Categoría</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Categoría</option>
                <option value="1">Ruby</option>
                <option value="2">Javascript</option>
                <option value="3">Python</option>
            </select>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>

    </div>
    

</form>

{% endblock %}