
{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <!-- Page Header-->
  
    <header class="masthead" style="background-image: url({% static 'assets/img/viajero_1.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 text-align-left">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 class="text-md-left">Technómada</h1>
                        <span class="subheading">Blog de viajes y tecnología</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
        

            
            <!--
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{% url 'post_list' %}">Ver publicaciones anteriores &rarr;</a>
            </div>
            -->

{% endblock content %}