{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/chica_notebook.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 text-align-left">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1 class="text-md-left">Blog</h1>  
                            <span class="subheading">Noticias y opinión</span> 
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <!-- Detail Post-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="centerstage">
                            {% for post in  post_list %}
                                <div class="post">
                                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titulo }} {{ post.image }}</a></h1>
                                    <div class="date">
                                    <p>Publicado el {{ post.fecha_publicacion|date:"D M Y" }}</p>
                                </div>
                            {% endfor %}   
                        </div>
                    </div>
                </div>
            </div>

    <!-- Pagination-->
    <br>
    <nav aria-label="Main">
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
        </ul>
    </nav>
    <br>
    <br>
    

{% endblock content %}