{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/escritura.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 text-align-left">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1 class="text-md-left">Artículos</h1>  
                            <!--<span class="subheading">dfdsfsfo</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br/>   

        
    <!-- Container Post-->
    <main role= "main" class="container">
        <div class="Row">
            <div class="col-md-8 blog-main">
                <!--<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'post_list' %}">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ post.titulo }}</li>
                    </ol>
                </nav>-->
                <h1 class='posttitle loader'>{{ post.titulo }}</h1>
                <small> Por:
                    {{ post.autor.username }}
                    {{ post.fecha_publicacion }}

                </small>
                    

                {% if post.fecha_publicacion %}
                        <div class="date postdate">
                        </div>
                {% else %}
                        <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
                {% endif %}
                    <br/> 
                    <img class="img-fluid" src=" {{ post.imagen_portada.url }}"> 
                    <p class='postcontent'>{{ post.contenido|safe }}</p>
            </div>
    
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-1">
                        {% if post.autor.profile.profile_picture.url %}
                            <img src="{{ post.autor.profile.profile_picture.url }}" width="100">
                        {% else %}
                            <img src="url({% static 'assets/img/avatar_default_2.1.jpg' %})" alt="">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.autor.username }}
                            </h5>
                            <p class="autor-bio">{{ post.autor.profile.bio }}</p>
                        </div>
                        {% if user.is_authenticated %}
                        <br>
                                <a class="btn btn-primary rounded" href="{% url 'post_edit' pk=post.pk %}"><i class="bi bi-pen">Editar post</i></a> 
                                <a class="btn btn-primary rounded" href="{% url 'post_remove' pk=post.pk %}"><i class="bi bi-pen"></i>Eliminar post</a>  
                        {% endif %}  
                    </div>
                    
                </div>
            </div>

        <br>
        <br>
                <h2>Comentarios...</h2>
                {% if not post.comment.all %}
                    No hay comentarios aún... <a href="#"></a>
                {% else %}
                <br>
                
                        {%for comment in post.comment.all %} 
                            <strong>
                            {{ comment.autor }} - 
                            {{ comment.fecha_creacion }}
                            </strong>
                            <br/>
                            {{ comment.comentario }}
                            <br><br>
                        {% endfor %}
                {% endif %}
                <br><br><br><br>
                <a class="btn btn-primary rounded float-left" href="{% url 'comment_form' post.pk %}">Agregar comentario</a>
                <br><br><br>
                    <div class="clearfix">
                        <a class="btn btn-primary rounded float-left" href="{% url 'post_list' %}">&larr; Volver</a>
                    </div>
                    <br>
                    <br>
                    <br>

                    <hr>

                
        </div>   

        
{% endblock content %}
