body{
	background: #2F4F4F;
	font-size: 62.5%;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}


h5{
	font-size: 1rem;
	margin-bottom: 0;

}

p{
	font-size: 1rem;
}

button{
	font-size: 1rem;
	color: white;
	padding: 0.4rem 1.4rem;
	border: none;
	background: #7A9D96;
	border-radius: 4px;
	cursor: pointer;

}

img{
	object-fit: cover;
}






/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
    font-size: 1rem;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #7A9D96;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}

button#submit:hover {
  opacity: 1;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}
.success {
  background: #43DC7E;
  color: white;
}
.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
}



