{% extends '../cmorales/nav-footer.html' %}

{% block content %}

    <h1>Lista de publicaciones</h1>
<hr>
        <ul>
            <li><a href="{% url 'crearpublicacion' %}">Crear Publicación</a></li>
        </ul>
    <ul>
 <hr>       
        {% for publicacion in publicaciones %}
            <li>
                {{publicacion}}
            </li>
            <div>
                <form action="{% url 'eliminarpublicacion' publicacion.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
                <button>
                    <a href="{% url 'editarpublicacion' publicacion.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>

{% endblock %}